<script src="~/js/view/ChartAttend.js"></script>
<script type="text/javascript">
    $(function () {
        _me.init();
    });
</script>

@await Component.InvokeAsync("XgProgPath", new { names = new string[] { "報名人數統計" } })
<div class="xp-prog">
    <div id="divRead">
        <canvas id="chart" width="800" height="450"></canvas>
    </div>
</div>