<div style="height:100%; background-color:#F6F6F6; padding:15px">
    <div class="text-center">
        <h3>歡迎使用尋寶客戶系統</h3>        
    </div>
    <table><tbody>
        <tr>
            <td>
                <img src="/image/bao.jpg">
            </td>
            <td>
                <p style="font-size:18px;">
                    本系統用來提供客戶維護尋寶設定資料及統計報表功能，系統以最新 ASP.NET Core 6 技術開發，
                    每個尋寶資料可以設定多個關卡，上架後一般用戶可以利用手機App來進行尋寶遊戲，整個尋寶系統
                    考慮多人同時上線時的效能問題，可用於城市觀光、企業活動行銷等各種用途，同時提供活動的趣味性。
                </p>
                <p style="font-size:18px;">
                    本系統由XXX所開發管理，任何建議觀迎來信 service@xxx.com
                </p>                
            </td>
        </tr>
        <tr></tr>
    </tbody></table>
</div>